.container-fluid:nth-of-type(2) {
    margin-top: 0px;
}

.btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

h1 {
    margin: 40px 0px;
    line-height: 1em;
}

h2 {
    margin: 30px 0px 20px 0px;
    line-height: 1em;
}

h4 {
    margin: 0px 0px 20px 0px;
    line-height: 1em;
}

.btnPressed {
    background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
}

.btnPressed:hover {
    background-color: #969696;
    border: 1px solid #969696;
    color: #FFF;
}

.QuestionTask {
    color: #000;
}


/***********************************************/


/*
	Således sættes farve på placeholders:
	https://css-tricks.com/snippets/css/style-placeholder-text/
*/

.ErrorColor::-webkit-input-placeholder {
    color: #ed3e3a;
}

.ErrorColor:-moz-placeholder {
    /* Firefox 18- */
    color: #ed3e3a;
}

.ErrorColor::-moz-placeholder {
    /* Firefox 19+ */
    color: #ed3e3a;
}

.ErrorColor:-ms-input-placeholder {
    color: #ed3e3a;
}


/***********************************************/

.ErrorColorHeading {
    color: #ed3e3a;
}

#SearchText {
    margin-bottom: 10px;
    width: 100%;
}

.DropdownContainer {
    margin-bottom: 10px;
}

.ErrMsg {
    display: none;
    color: #F00;
}

.mindmap {
    cursor: pointer;
}

.modal-dialog {
    width: 90%;
    height: 100%;
    padding: 0;
}

.modal-content {
    border-radius: 0;
}

.checkbox {
     display: inline-block;
    padding: 0px;
    margin-right: 50px;
    min-width: 180px;
}

img {
    width: 100%;
    cursor: pointer;
}

.search_container{
    position: fixed;
    bottom: 14px;
    background-color: rgba(244,248,246,.7);
    padding: 20px 0px 10px 1px;
    border-radius: 4px;

    background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(transparent, #, transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, rgba(244,248,246,1), transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, rgba(244,248,246,1), transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, #eee, transparent); /* Standard syntax */
}

#SearchText{
	height: 32px;
	margin-left: 0px;

}

#Databases{
	margin-bottom: 40px;
}

#Search{
	    margin-top: 0px;
    margin-left: -20px;
    height: 32px;
}

.main_content{
	margin-bottom: 30px;
}

.canvas_container{
	    margin-top: -77px;
    margin-bottom: -67px;

}

textarea{
	resize:none;
}

.db_input{
	top: 2px;
}

